node_modules
**/node_modules
api/node_modules
web/node_modules
dist
**/dist
api/dist
web/dist
.git
.gitignore
.DS_Store
coverage
**/coverage
.pnpm-store
api/.pnpm-store
web/.pnpm-store
pnpm-debug.log
*.log
.env
**/.env
**/.env.*
!.env.example
tmp
**/tmp
db
api/private_uploads
